@font-face
  font-family CPS
  src url('/fonts/CPS.ttf') format('opentype')

@font-face
  font-family CPS
  font-weight bold
  src url('/fonts/CPS-Bold.ttf') format('opentype')

@font-face
  font-family CPS
  font-style italic
  src url('/fonts/CPS-Italic.ttf') format('opentype')

@font-face
  font-family CPS
  font-weight bold
  font-style italic
  src url('/fonts/CPS-Bold-Italic.ttf') format('opentype')
